<%- if usertutorial== "test" -%>
    <%- user_tutorial = "#{usertutorial}" 
        base_url  = "/node/#{host}/#{port}"
        login_url = "#{base_url}/login"
        next_url  = "#{base_url}/notebooks/test.ipynb"
        action = "#{login_url}?next=#{next_url}"
        form_id = "jupyter_form#{login_url.gsub('/', '_')}"
        method = "post"
        target = "_blank"
        onsubmit = "changeTarget()"
    -%>
    
<%- end -%>
<%- if usertutorial== "Alphafold3" -%>
    <%- user_tutorial = "#{usertutorial}" 
        base_url  = "/node/#{host}/#{port}"
        login_url = "#{base_url}/login"
        next_url  = "#{base_url}/notebooks/alphafold3.ipynb"
        action = "#{login_url}?next=#{next_url}"
        form_id = "jupyter_form#{login_url.gsub('/', '_')}"
        method = "post"
        target = "_blank"
        onsubmit = "changeTarget()"
    -%>
    
<%- end -%>

<form id="<%= form_id %>" action="<%= action %>" method="<%= method %>" target="<%= target %>" onsubmit="<%= onsubmit %>">
    <input type="hidden" name="password" value="<%= password %>">
    <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i> Connect to Tutorials OnDemand: <%= user_tutorial %>
    </button>
</form>
